<ion-view title="Home" ng-init="showAlert()">
  <ion-content class="padding">
   
      <div class="list card">

  <div class="item item-avatar">
    <img src="img/logo_rolla.png">
    <h2>Nearby restaurants and discounts </h2>
    <p>RollaSolution It Solutions </p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/principal.jpg">
    <p>
        The application to find nearby restaurants and discounts to your current location and leverage the latest promotions.    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
      
  </ion-content>
</ion-view>
