<ion-view title="News">
  <ion-content class="padding">
   
      <div class="list">

        <a ng-repeat="i in items" class="item item-thumbnail-left" href="">
          <img src="{{i.img}}">
          <h2>{{i.name}}</h2>
          <p>{{i.description}}</p>
        </a>
          
      </div> 
      
  </ion-content>
</ion-view>
