<ion-view title="Nearby">
<div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        
        <ui-gmap-marker coords="myPosition.coords" idKey="myPosition.id" icon="myPosition.icon">
        </ui-gmap-marker>
        
        <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idKey="m.id" icon="m.icon">
        </ui-gmap-marker>
        
    </ui-gmap-google-map>
</div>

<ion-footer-bar align-title="left" class="bar-dark">
  <div class="buttons">
    <button class="button" ng-click="relocate()">
        <i class="ion icon ion-android-locate"></i>
    </button>
  </div>
</ion-footer-bar>
   < /ion-view>

   