<ion-view title="Restaurants" >
  <ion-content>

      <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ion-fork placeholder-icon"></i>
        <input type="search" placeholder="street, intersection, city, province">
      </label>
      <button class="button button-balanced">
        Buscar
      </button>
    </div>
      
      <ion-list>
      <ion-item ng-repeat="p in pos" type="item-text-wrap" href="#/tab/pos/{{p.id}}">
        {{p.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
