<ion-view title="Configuration">
  <ion-content class="padding">
      
  <li class="item item-toggle">
     Gps
     <label class="toggle toggle-assertive">
       <input type="checkbox" checked="true">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
      
  <li class="item item-toggle">
     Vegetarian
     <label class="toggle toggle-royal">
       <input type="checkbox" checked="true">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Cheapest Restaurants
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
      
  <li class="item item-toggle">
     Notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked="true">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
            
      
  </ion-content>
</ion-view>
