<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-color-assertive tabs-light">


  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- LOC Tab -->
  <ion-tab title="nearby" icon="icon ion-ios7-location" href="#/tab/loc">
    <ion-nav-view name="tab-loc"></ion-nav-view>
  </ion-tab>    
    
  <!-- POS Tab -->
  <ion-tab title="Search" icon="icon ion-search" href="#/tab/pos">
    <ion-nav-view name="tab-pos"></ion-nav-view>
  </ion-tab>


  <!-- News Tab -->
  <ion-tab title="News" icon="icon ion-ios7-alarm" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>
    
  <!-- Config Tab -->
  <ion-tab title="Configuration" icon="icon ion-gear-a" href="#/tab/conf">
    <ion-nav-view name="tab-conf"></ion-nav-view>
  </ion-tab>


</ion-tabs>
